<div class="col-md-6 mb-4">
        <div class="card h-100">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img alt="{{ officer.name }}"
                        src="{{ officer.thumbnail }}"
                        class="card-img"
                        style="border:solid; width:100%; height:auto;" />
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title"><a href="{{ officer.webpage }}">{{ officer.name }}</a></h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{ officer.title }}</h6>
                        {% if officer.year %}
                        <p class="card-text"><i>{{ officer.year }} year in the {{ officer.program }} program</i></p>
                        {% endif %}
                        {% if officer.labpage %}
                        <p class="card-text">
                            <a href="{{ officer.labpage }}" class="text-decoration-none">
                                <span class="glyphicon glyphicon-briefcase" title="work" aria-hidden="true"></span>&nbsp;{{ officer.labname }}
                            </a>
                        </p>
                        {% endif %}
                        {% if officer.email %}
                        <p class="card-text">
                            <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>&nbsp;{{ officer.email }}
                        </p>
                        {% endif %}
                        <p class="card-text">{{ officer.content }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    