<div class="container">
  <div class="row">
    {% for officer in site.officers %}
      <div class="col-md-4 mb-4">
        <div class="card">
          <img alt="{{ officer.name }}" src="{{ officer.thumbnail }}" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">{{ officer.name }}</h5>
            <p class="card-text">{{ officer.title }}</p>
            {% if officer.year %}
              <p class="card-text"><small class="text-muted">{{ officer.year }} year in the {{ officer.program }} program</small></p>
            {% endif %}
            {% if officer.labpage %}
              <p class="card-text"><a href="{{ officer.labpage }}">Lab: {{ officer.labname }}</a></p>
            {% endif %}
            {% if officer.email %}
              <p class="card-text"><a href="mailto:{{ officer.email }}">{{ officer.email }}</a></p>
            {% endif %}
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
